*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.Header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: black;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:azure
}
.logo-text .folio{
    color:orange;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;

}
nav .togglebtn span{
    display: block;
    background-color:orange;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
  
nav .navlinks {
    list-style-type: none;

}
nav .navlinks li {
    display: inline-block;
}
nav .navlinks li a {
    color:#fff;
    content: '';
    margin-right: 2.5rem;
    transform: scale(1.3);
}
nav .navlinks li a:hover{
    color:orange;
    border-bottom: 2px solid orange;
    transition: 0.5em;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .picture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 13px solid #fff;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem orange, inset 0 0 2rem orange, 0 0 4rem orange,inset 0 0 4rem orange;

}
.picture img{
   height: 100%;
   width: 100%;
   transition: 0.5s;
}
.picture img:hover{
    transform: scale(1.2);
}
.pic-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.pic-text h5{
    color:#fff;
    font-size: 18px;
    line-height: 1.1rem;
}
.pic-text h5 span{
    color:orange;
    font-size: 16px;
}
.pic-text h1{
    color:#fff;
    font-family: cursive;
    font-size: 3rem;
}
.pic-text h1 span{
    color:orange;
    font-family: cursive;
    font-size: 3rem;
}
.pic-text p{
    margin-top:15px;
    text-transform: capitalize;
    color:#fff;
    line-height: 1.2rem;
    text-align: justify;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: black;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: orange;
}
.btn.active:hover{
    color:rgb(31, 30, 30);
    background:orange;
    transition: 0.5s;
    border: none;
}
.btn:hover{
    color:rgb(31, 30, 30);
    background:orange;
    transition: 0.5s;
    border: none;
}
.pic-text .social i{
    color: orange;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.5s;
}
.pic-text .social i:hover{
    color: darkorange;
    transform: rotate(270deg);
}
/* responsive design and displaying navbar for small screen */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button */
    .click {
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;

    }
    nav .navlinks li {
       display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .pic-text{
        padding: 40px 0px;
    }
}
.skill-container{
    display: flex;
    background: black;
}
.education-box{
    position: relative;
    left: 30px;
    width: 50%;
}
.education-box h3{
    margin-top: 70px;
    margin-left: -5px;
    margin-bottom: 15px;
    color:#dddadd;
    font-size: 1.5rem;
}
.education-box  p{
    margin-left: -20px;
    text-align: justify;
    color:#dddadd;
    font-size: 1.2rem;
}
.education-box  p strong{
    color:orange;
}
.education-box-2{
    margin-top: 70px;
    margin-left: -5px;
    position: relative;
    left:100px;
}
.education-box-2 h3{

    word-spacing:2px;
    margin-bottom: 20px;
    color:#dddadd;
    font-size: 1.5rem; 
}
.skill-box{
    width:100%;
    margin: 25px 0;
}
.skill-box .title{
    top: -2px;
    margin-left: -200px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color:#dddadd;
}
.skill-box .skill-bar{

    width:800%;
    background: #837e7e67;
    border-radius: 6px;
    margin-top: -1px;
    height:8px;
}
.skill-bar .skill-per{
    position: relative;
    display:block;
    height:100%;
    width:90%;
    border-radius: 6px;
    background: orange;
    animation: progress 0.8s ease-in-out forwards;
    opacity: 0;
 }
 .skill-per.excel{
    width:75%;
    animation-delay: 0.1s;
}
.skill-per.powerpoint{
    width:65%;
    animation-delay: 0.1s;
}
.skill-per.word{
    width:55%;
    animation-delay: 0.2s;
}

.skill-per.Communication{
    width:55%;
    animation-delay: 0.3s;
}
.skill-per.email{
    width:55%;
    animation-delay: 0.4s;
}
@keyframes progress {
    0%{
        width:0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    background: orange;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color:#333;
    padding:2px 6px;
    border-radius: 3px;
    background:orange;
    z-index: 1;
}
.tooltip::before{
    position: absolute;
    height:10px;
    width: 10px;
    content: '';
    left:50%;
    bottom:-2px;
    background: orange;
    z-index: -1;
    transform: translateX(-50%) rotate(45deg);
}
.work-container{
    height: 100vh;
    background: black;
    

}
.main{
    color:#dddadd;
    font-size: 1.5rem;
    margin-left: 550px;
    margin-bottom: 10px;

}
.box-5{
    margin-top: 120px;
    margin-left: -5px;
    margin-left: 35px;
    position: relative;
    width: 25%;
    display: flex;
 
}
.img{
    display: block;
    border-radius: 4px;
    width: 150%;
    height: auto;
}
.overlay{
    margin-left: 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 150%;
    margin-left:0px;
    cursor: pointer;
    height: 0;
    border-radius: 4px;
    transition: .5s ease;
}
.overlay #para{
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}
.para-1{
    color:orange;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 20px;
}
.overlay  #icon{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    transform: rotate(-40deg);
}
.work-container:hover .overlay{
    height: 100%;
    margin-top: 30%;
    color: orange;
    font-size: 1.3rem;
    position: absolute;
    text-align: center;

}
.paragraph{
    width: 100%;
    background: black;
    display: flex;
    
}
.paragraph p{
    position: relative;
    left: 570px;
    top: -290px;
    color:#dddadd;
    font-size: 1.1rem;
    word-break: break-all;   
    font-family: sans-serif;
    text-align: justify;
    word-break: keep-all;
    width: 55%;
    letter-spacing: .1rem;
    text-transform: capitalize;
    line-height: 1.4rem;

}
.about-container{
    background:black;
    height: 100vh;
}
.about{
    margin-left: 575px;
    margin-bottom: 30px;
    color:#dddadd;
    font-size: 1.5rem;
}
.main-2{
    display: flex;
    position: relative;
    left: 40px;
}
.pic {
    width:350px;
    height: 350px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #d5d5d5;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem orange, inset 0 0 2rem orange, 0 0 4rem orange,inset 0 0 4rem orange;
    transition: 0.5s;
}
.pic:hover {
    transform: scale(1.1);
}
.about-para{
    width: 100%;
    background: black;
    display: flex;
}
.about-para p{
    position: relative;
    left: 570px;
    top: -272px;
    color:#dddadd;
    font-size: 1.1rem;
    word-break: break-all;   
    font-family: sans-serif;
    text-align: justify;
    word-break: keep-all;
    width: 55%;
    letter-spacing: .1rem;
    text-transform: capitalize;
    line-height: 1.4rem;
}
.contact-container{
    background: black;
    height: 100vh;
    display: flex;
    width: 100%;
} 
.title-2{ 
    position: relative;
    left: 577px;
    top: -150px;
    color:#dddadd;
    font-size: 1.5rem;
}
.contact-left{
   margin-left: -90px;      
}

.contact-info{
    width: 100%;
}
.contact-icon i{
    font-size: 1.3rem;
    color:orange;
}
h4{ margin-left: 30px;
    margin-top: -25px;
    color:#dddadd;
    font-size: 1.3rem;
    
}
p{  padding:15px;
    text-transform: capitalize;
    color:#dddadd;
    font-size: 1.2rem;
}
.contact-right{
    margin-left: 100px;
    background:transparent;
    height: 70%;
    width:50%;
    border-radius: 8px;
    border: 2px solid orange;
}
.title{
    position: relative;
    top: -25px;
    left: 200px;
    margin-left: 90px;
    color:#dddadd;
    font-size: 1.5rem;
}
.input-box{
    position: relative;
    left: 210px;
    height: 50px;
    width: 400px;
    background:black;
    padding: 10px 15px ;
    border-radius: 28px;
    border: 2px solid orange;
    font-size: 1.1rem;
    text-align: center;
    color:#636262;
}
.name{
    position: relative;
    top: 50px;
    left: 50px;
    color:#dddadd
}
#btn{
    background: transparent;
    position: relative;
    top: 60px;
    left: -70px;
    padding: 15px 20px;
    border-radius: 28px;
    border: 2px solid orange;
    color:#dddadd;
    font-size: 1.2rem;
    transition: .3s ease;
    cursor: pointer;
}
#btn:hover{
    transform: matrix(1.1);
    background: orange;
    color:black;
}
.copyright{
    width: 100%;
    height:80px;
    background: #222;
}
h5{
    color:#dddadd;
    font-size: 1.3rem;
    text-align: center;
    padding: 25px;
    word-spacing: 10px;
    text-transform: capitalize;
}
h5 strong{
    color:orange;
}